* {
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
}

main {
    min-height: 90vh;
}

header {
    background-color: rgb(12, 114, 198);
}

h3, h5 {
    display: inline;
}

h4 {
    min-width: 100%;
}

#selectCityHeader {
    min-width: 100%;
}